{% if teaserReisen|length > 0 %}
    {% for reise in teaserReisen %}
        {% set reiseId = {'reiseId': reise.getReiseId} %}

        {{ include ('partial/reise_top_down.twig') }}
    {% endfor %}
{% else %}
    <div id="keineReise">
        <p>Wir haben leider zu Ihren Angaben keine passende Reise gefunden. Bitte verringern Sie die Schlagwörter
            oder schauen Sie in einer weiteren Region nach einer entsprechenden Reise.</p>
        <p>Hinweis: Wenn die Schlagwörter in roter Farbe dargestellt sind, haben Sie diese ausgewählt. Klicken Sie
            erneut auf ein rotes Wort, um es aus Ihrer Auswahl zu entfernen.</p>
    </div>
{% endif %}