<div class="container">
    {{ include ('module/teaserReisen.twig') }}
</div> <!-- #container -->

<div id="reiseListeContainer" class="left">
    {{ include ('module/bottomReisen.twig') }}
</div>
<div class="right">
    {{ include ('module/news.twig') }}
</div>
<div class="clear"></div>