<div id="kontakt">
    <h2>Wichtige Information</h2>
    <p>Um mit uns in Kontakt zu treten, können Sie sich entweder direkt an eine/n unserer Mitarbeiter/in wenden, die
        Service Nummer benutzen (Herr Rosenbusch) oder Sie senden Sie Ihren beliebigen Wunsch via
        Kontaktformular.</p>

    <h3>Persönlicher Service:</h3>

    <p>Büro: Brüderstraße 15 (Mo-Fr 09.00-18.00 Uhr Sa. 10-13.00 Uhr)</p>

    <table>
        <tr>
            <td>Frau Anke Kühne</td>
            <td>0345-2100511</td>
        </tr>
        <tr>
            <td>Frau Renate Rosenbusch</td>
            <td>0345-2100510</td>
        </tr>
        <tr>
            <td>Praktikant/Zeitkraft</td>
            <td>0345-2100514</td>
        </tr>
        <tr>
            <td>Herrn Dieter Rosenbusch</td>
            <td>0163-5605597 (Inhaber)</td>
        </tr>
        <tr>
            <td>Frau Babett Naumann-Kresse</td>
            <td>0345-2100515</td>
        </tr>
    </table>

    <p>Büro: Geiststraße 18 wurde geschlossen</p>

    <h3>Täglicher Servicekontakt:</h3>
    <p>Kontakt zum Spezialisten: 0163-5605597</p>

    <h3>Kontaktformular:</h3>
    <p>Bitte füllen Sie das folgende Formular möglichst vollständig aus. Unsere Mitarbeiter werden Ihre Anfrage
        schnellstmöglich bearbeiten und setzen sich dann mit Ihnen in Verbindung.</p>

    <form action="{{ route('kontakt-mailer') }}" method="post" name="kontaktform">
        {% if mailSent is same as (true) %}
            <p style="color:red;">Vielen Dank für Ihr Interesse. Wir werden uns schnellstmöglichst bei Ihnen
                melden.</p>
        {% endif %}

        <p>
            <select name="anrede">
                <option value="0">Bitte auswählen</option>
                <option value="Herr">Herr</option>
                <option value="Frau">Frau</option>
            </select></p>

        <p class="left">
            <input type="text" name="name" placeholder="Name" required/></p>

        <p class="left">
            <input type="text" name="vorname" placeholder="Vorname" required/></p>

        <p class="clear">
            <input type="text" name="adresse" placeholder="Straße, Hausnummer" required/></p>

        <p class="left">
            <input type="text" name="plz" placeholder="PLZ" required/></p>

        <p class="left">
            <input type="text" name="ort" placeholder="Ort" required/></p>

        <p class="left">
            <input type="email" name="email" placeholder="E-Mail" required/></p>

        <p class="left">
            <input type="tel" name="telefon" placeholder="Telefon" required/></p>

        <p class="clear">
            <textarea name="frage" placeholder="Ihre Frage ..." required></textarea></p>

        <p><input type="submit" value="Anfrage absenden"/></p>
    </form>
</div> <!-- #kontakt -->

{{ include('basic/sidebar.twig') }}

<p class="clear"></p>