<div id="sidebar">
    <a href="http://www.chamaeleon-reisen.de/?anr=106549"><img src="{{ templateDir }}/img/partner/chamaeleon.png" width="100%" /></a>
    <a href="https://www.diamir.de/?agnr=35647"><img src="{{ templateDir }}/img/partner/diamir.jpg" width="100%" /></a>
    <a href="http://www.studiosus.com/?agnr=71043"><img src="{{ templateDir }}/img/partner/studiosus.png" width="100%" /></a>
</div> <!-- #sidebar -->
