{% if bearbeiteReiseverlauf|length > 0 %}
    <form action="#" method="post" name="bearbeiteReiseverlaufForm" class="js-bearbeite-reiseverlauf-form">
        <p><input type="number" name="reisetag" required value="{{ bearbeiteReiseverlauf.getReisetag }}" placeholder="Position in der Liste (Sortierung)"/></p>
        <p><input type="text" name="leistungTitel" required value="{{ bearbeiteReiseverlauf.getText }}"/></p>
        <p><textarea name="leistungBeschreibung" required
                     placeholder="Beschreibung des Reiseverlaufes">{{ bearbeiteReiseverlauf.getBeschreibung }}</textarea>
        </p>
        <p><input type="checkbox" name="loescheVerlauf"/> Möchten Sie diese Reiseleistung löschen?</p>

        <input type="submit" name="submit" value="Absenden"/>

        <input type="hidden" name="reiseverlaufId" value="{{ bearbeiteReiseverlauf.getReiseverlaufId }}"/>
    </form>
{% endif %}